@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body {
    background-image: url("assets/Boeing 737 types.jpg");
}
* {
    font-family: "Oswald", sans-serif;
}
#heading{
    font-size: 72px;
    text-align: center;
    color:gold
}
